.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: var(--padding-medium);
  width: 100%;
}

.box {
  border-radius: var(--border-radius-lg);
  min-height: var(--row-height);
  overflow: hidden;
}

.project {
  position: relative;
  display: grid;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
}

.project:hover {
  transform: scale(103%);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-medium);
  gap: 0.5rem;
  width: 100%;
}

.info div {
  display: grid;
  gap: 0.5rem;
}

.title {
  font-size: 1.7rem;
  font-weight: bold;
}

.description {
  font-size: 1.3rem;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.arrow {
  background-color: #ffffff;
  display: flex;
  padding: 1.5rem;
  border-radius: 100%;
}

.arrow img {
  width: 15px;
}
